body {
    background: #565ADF;
    color: #737383;
}

.task {
    max-width: 450px;
    background: #fff;
    padding: 20px;
    margin: 80px auto;
    border-radius: 7px;
}

.task-input__value {
    width: 70%;
    border: 0;
    padding: 10px 20px;
    font-size: 18px;
}

.task-input__value:focus {
    outline: 0;
}

.task-input__btn {
    width: 60px;
    height: 60px;
    color: #fff;
    cursor: pointer;
    background: #FA6A6C;
    font-size: 30px;
    border: 0;
    border-radius: 50%;
    transition: 0.2s;
}

.task-input__del {
    color: #fff;
    cursor: pointer;
    background: #acaaaa;
    font-size: 20px;
    border: 0;
}

.task-input__btn:hover {
    animation: rotate 0.25s 1;
}

.task-listitem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #b1b0b0;

}

.tasklist {
    list-style: none;
    padding: 0 20px;
}

.task-listtitle {
    word-break: break-word;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }

}